body {
    font-family: "Prata", serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

#win-img {
    width: 400px;
    height: auto;
}

#all-page {
    padding-top: 30px;
    background-color: #eef1ff;
    height: 100%;
}

#title {
    margin-bottom: 30px;
}

#input-name-form {
    margin-top: 40px;
}

#input-name-form #name {
    margin-right: 5px;
    margin-left: 5px;
}

#statistics {
    width: 100%;
}

#input-error {
    color: red;
}